<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.workspace-workbench</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE__</string>
    <string>--experimental-strip-types</string>
    <string>__PLUGIN_ROOT__/server/backend/main.ts</string>
    <string>serve</string>
    <string>--config</string>
    <string>__CONFIG__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__STATE_ROOT__/observer.log</string>
  <key>StandardErrorPath</key>
  <string>__STATE_ROOT__/observer.err.log</string>
</dict>
</plist>
